<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>132577293778-jgv5ndnmfnlukb7598ut5q0i2e9v3l2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.132577293778-jgv5ndnmfnlukb7598ut5q0i2e9v3l2a</string>
	<key>API_KEY</key>
	<string>AIzaSyBabwy13n6bFN4WXofIFctSrxWQRsOI8rI</string>
	<key>GCM_SENDER_ID</key>
	<string>132577293778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.banana.PurrfectMatch</string>
	<key>PROJECT_ID</key>
	<string>purrfect-match-b6534</string>
	<key>STORAGE_BUCKET</key>
	<string>purrfect-match-b6534.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:132577293778:ios:711ac8db6c852f3979440b</string>
</dict>
</plist>